{#{ asset_add('styles.css', 'pixney.extension.three_columns_block::sass/pixney.scss') }#}
{#{ asset_add('scripts.js', 'anomaly.module.files::js/dropzone.min.js') }#}
helo

{# 
<div class="card" id="three_columns_block-extension">
    <div class="card-block">
        <div class="row">
            <div class="col-sm-24">
                <div class="row">
                    <div class="col-sm-6">
                        {{ form.fields.headline.label|raw }}
                        {{ form.fields.headline.input|raw }}
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin:20px 0 0;">
            <li class="nav-item active">
                <a class="nav-link active" id="{{form.options.block_instance}}_col-1-tab" data-toggle="tab" href="#{{form.options.block_instance}}_col-1" role="tab" aria-controls="{{form.options.block_instance}}_col-1" aria-selected="true">Left Column</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="{{form.options.block_instance}}_col-2-tab" data-toggle="tab" href="#{{form.options.block_instance}}_col-2" role="tab" aria-controls="{{form.options.block_instance}}_col-2" aria-selected="false">Center Column</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="{{form.options.block_instance}}_col-3-tab" data-toggle="tab" href="#{{form.options.block_instance}}_col-3" role="tab" aria-controls="{{form.options.block_instance}}_col-3" aria-selected="false">Right Column</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" style="background:#ececec;padding:10px;">
            <div class="tab-pane active" id="{{form.options.block_instance}}_col-1" role="tabpanel" aria-labelledby="{{form.options.block_instance}}_col-1-tab">
                <div class="row">
                    <div class="col-sm-24">
                        <div class="row">
                            <div class="col-sm-24 form-group">
                                {{ form.fields.column_1_name.label|raw }}
                                {{ form.fields.column_1_name.input|raw }}
                            </div>
                        </div>
                        <div class="row space-top">
                            <div class="col-sm-24">
                                {{ form.fields.column_1_content.label|raw }}
                                {{ form.fields.column_1_content.input|raw }}
                            </div>
                        </div>
                        <div class="row space-top">
                            <div class="col-sm-24 form-group">
                                {{ form.fields.column_1_image.label|raw }}
                                {{ form.fields.column_1_image.input|raw }}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="{{form.options.block_instance}}_col-2" role="tabpanel" aria-labelledby="{{form.options.block_instance}}_col-2-tab">
                <div class="row">
                    <div class="col-sm-24">
                        <div class="row">
                            <div class="col-sm-24 form-group">
                                {{ form.fields.column_2_name.label|raw }}
                                {{ form.fields.column_2_name.input|raw }}
                            </div>
                        </div>
                        <div class="row space-top">
                            <div class="col-sm-24">
                                {{ form.fields.column_2_content.label|raw }}
                                {{ form.fields.column_2_content.input|raw }}
                            </div>
                        </div>
                        <div class="row space-top">
                            <div class="col-sm-24 form-group">
                                {{ form.fields.column_2_image.label|raw }}
                                {{ form.fields.column_2_image.input|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="{{form.options.block_instance}}_col-3" role="tabpanel" aria-labelledby="{{form.options.block_instance}}_col-3-tab">
                <div class="row">
                    <div class="col-sm-24">
                        <div class="row">
                            <div class="col-sm-24 form-group">
                                {{ form.fields.column_3_name.label|raw }}
                                {{ form.fields.column_3_name.input|raw }}
                            </div>
                        </div>
                        <div class="row space-top">
                            <div class="col-sm-24">
                                {{ form.fields.column_3_content.label|raw }}
                                {{ form.fields.column_3_content.input|raw }}
                            </div>
                        </div>
                        <div class="row space-top">
                            <div class="col-sm-24 form-group">
                                {{ form.fields.column_3_image.label|raw }}
                                {{ form.fields.column_3_image.input|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> #}